.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
_data/
_output/
/.quarto/
*.docx
chelsa_store/
# R-specific files
.Rhistory
.RData
.Rproj.user/
.Ruserdata
# Temporary files or directories
rdatatemp/
.RDataTmp
